* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}
@font-face {
  font-family: "Journal Sans New";
  src: url("@/assets/fonts/JournalSansNew.ttf") format("truetype");
}
:root {
  --main-font: 'Journal Sans New', sans-serif;
  --main-background: #496172;
  --main-color: rgba(244, 241, 237, 1);
}
.layout {
  background-color: var(--main-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.container {
  width: 393px;
  height: 852px;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
}
h1 {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.02em;
}
h2,
::placeholder {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 18px;
  letter-spacing: 0.05em;
}
.button {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--main-background);
  background-color: var(--main-color);
  width: 363px;
  height: 60px;
  top: 98px;
  left: 26px;
  gap: 0px;
  opacity: 0px;
  border-radius: 12px;
  border: none;
  padding: 16px, 32px, 16px, 32px;
  margin-top: 10px;
}
.icon {
  width: 24px;
  height: 24px;
  margin: 4px;
}
label {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(244, 241, 237, 0.6);
  letter-spacing: 0.02em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}
input {
  background-color: var(--main-background);
  border: none;
  margin-top: 10px;
  width: 363px;
  border-bottom: 1px solid rgba(244, 241, 237, 0.2);
  padding-bottom: 20px;
  font-size: 18px;
}
textarea {
  width: 363px;
  background-color: var(--main-background);
  border: none;
  margin-top: 20px;
  color: rgba(244, 241, 237, 0.6);
  border-bottom: 1px solid rgba(244, 241, 237, 0.2);
  padding-bottom: 39px;
}